# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [79]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [80]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [81]:
# your code here
response = requests.get(url)
html = response.content

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [82]:
# your code here
parsed_html = BeautifulSoup(html, "html.parser")

In [83]:
[name.a.text.replace(' ','').replace('\n','') for name in parsed_html.find_all("h1",{"class":"h3 lh-condensed"})]

['NolanLawson',
 'GeorgiosKonstantopoulos',
 'WilliamBoman',
 'AdamJohnson',
 'VladimirMihailenco',
 'JohnLindquist',
 'JoeChen',
 'WilliamCandillon',
 'rennokki',
 'Avelino',
 'FelixAngelov',
 'KoenKanters',
 'RafałMikrut',
 'TomPayne',
 'NicoSchlömer',
 'FonsvanderPlas',
 'andig',
 'AsimAslam',
 'DavidRodríguez',
 'LouisPilfold',
 'VincenzoPalazzo',
 'CarlJohnson',
 'PierreStåhl',
 'Timothy',
 'Laurent']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [84]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [85]:
# your code here
response = requests.get(url)
html = response.content

In [86]:
parsed_html = BeautifulSoup(html, "html.parser")

In [87]:
element= parsed_html.find_all("h1",{"class":"h3 lh-condensed"})
element[0].text

'\n\n\n\n\n\n        yt-dlp /\n\n      yt-dlp\n '

In [88]:
[name.text.replace('\n','').replace(' ','') for name in parsed_html.find_all("h1",{"class":"h3 lh-condensed"})]

['yt-dlp/yt-dlp',
 'xinntao/Real-ESRGAN',
 'bottlesdevs/Bottles',
 '521xueweihan/HelloGitHub',
 'freqtrade/freqtrade',
 'ytdl-org/youtube-dl',
 'tiangolo/fastapi',
 'vt-vl-lab/3d-photo-inpainting',
 'home-assistant/core',
 'Pycord-Development/pycord',
 'isocpp/CppCoreGuidelines',
 'DIGITALCRIMINAL/OnlyFans',
 'Music-and-Culture-Technology-Lab/omnizart',
 'niubiqigai/turtle',
 'luminoleon/epicgames-claimer',
 'rentruewang/koila',
 'wjf5203/SeqFormer',
 'SecuProject/ADenum',
 'ankitects/anki',
 'Chia-Network/chia-blockchain',
 'QUANTAXIS/QUANTAXIS',
 'davidbombal/log4jminecraft',
 'dgtlmoon/changedetection.io',
 'SecureAuthCorp/impacket',
 'eternnoir/pyTelegramBotAPI']

#### Display all the image links from Walt Disney wikipedia page.

In [89]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [90]:
# your code here
response = requests.get(url)
html = response.content

In [91]:
parsed_html = BeautifulSoup(html, "html.parser")

In [92]:
element = parsed_html.find_all("img")

In [93]:
all_strings = [i.get('src').replace('//','') for i in element]
all_strings

['upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [94]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [95]:
# your code here
response=requests.get(url)
html=response.content

In [96]:
parsed_html = BeautifulSoup(html,"html.parser")

In [97]:
element=parsed_html.find_all("a")

In [98]:
[i.get("href") for i in element]

[None,
 '#mw-head',
 '#searchInput',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=5',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1058841632',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Disambiguation_pages_with_short_descriptions',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Main_Page',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=1058841632',
 '/w/index.php?title=Python&action=info',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=1058841632&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [99]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [100]:
# your code here
response=requests.get(url)
html=response.content

In [101]:
parsed_html=BeautifulSoup(html,"html.parser")

In [102]:
#not including the ones that change the apendix
element=parsed_html.find_all("div",{"class":"usctitlechanged"})
element

[<div class="usctitlechanged" id="us/usc/t31">

           Title 31 - Money and Finance <span class="footnote"><a class="fn" href="#fn">٭</a></span>
 </div>]

In [103]:
list_changed_titles=[i.get("id") for i in element]

In [104]:
len(list_changed_titles)

1

#### Find a Python list with the top ten FBI's Most Wanted names.

In [105]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [106]:
# your code here
response=requests.get(url)
html=response.content

In [107]:
parsed_html=BeautifulSoup(html,"html.parser")

In [108]:
[name.a.text for name in parsed_html.find_all("h3",{"class":"title"})]

[]

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [109]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [110]:
tables=pd.read_html(url)

In [111]:
latest_earthquakes=tables[3]
latest_earthquakes=latest_earthquakes.iloc[0:20]
latest_earthquakes=latest_earthquakes.iloc[:, [3,4,5,6,7,-2]]
latest_earthquakes

                       Date & Time UTC Latitude degrees                  \
                         12345678910»    12345678910» 12345678910».1
0       2021-12-20 19:21:29.621min ago            40.48               N
1       2021-12-20 19:16:00.227min ago            28.61               N
2       2021-12-20 19:12:34.730min ago            24.20               S
3       2021-12-20 19:00:14.743min ago            28.56               N
4       2021-12-20 18:53:23.049min ago             7.66               S
5       2021-12-20 18:49:26.253min ago            19.22               N
6       2021-12-20 18:47:12.656min ago            46.12               N
7   2021-12-20 18:41:54.01hr 01min ago            25.62               N
8   2021-12-20 18:38:21.01hr 04min ago            23.80               S
9   2021-12-20 18:27:11.01hr 16min ago            21.33               S
10  2021-12-20 18:07:32.51hr 35min ago            38.68               N
11  2021-12-20 18:02:38.01hr 40min ago            39.38               N
12  2021-12-20 17:51:35.01hr 51min ago             0.47               N
13  2021-12-20 17:49:09.71hr 54min ago            40.49               N
14  2021-12-20 17:45:54.01hr 57min ago             0.05               S
15  2021-12-20 17:45:31.01hr 57min ago            24.36               N
16  2021-12-20 17:44:52.01hr 58min ago            18.78               N
17  2021-12-20 17:38:23.02hr 04min ago             7.38               S
18  2021-12-20 17:37:55.02hr 05min ago            24.56               S
19  2021-12-20 17:33:00.02hr 10min ago            29.11               S

   Longitude degrees                               Last update [-]
       12345678910» 12345678910».1                 12345678910»
0              34.22               E                CENTRAL TURKEY
1              17.83               W  CANARY ISLANDS, SPAIN REGION
2              66.89               W              SALTA, ARGENTINA
3              17.84               W  CANARY ISLANDS, SPAIN REGION
4             122.55               E                    FLORES SEA
5             155.43               W      ISLAND OF HAWAII, HAWAII
6               7.38               E                   SWITZERLAND
7              91.18               E       MEGHALAYA, INDIA REGION
8              66.97               W              JUJUY, ARGENTINA
9              68.47               W            ANTOFAGASTA, CHILE
10             44.68               E     TURKEY-IRAN BORDER REGION
11             11.38               W          NORTH ATLANTIC OCEAN
12            126.26               E                   MOLUCCA SEA
13             34.24               E                CENTRAL TURKEY
14            122.95               E           SULAWESI, INDONESIA
15             94.53               E   MYANMAR-INDIA BORDER REGION
16             64.36               W         VIRGIN ISLANDS REGION
17            121.83               E                    FLORES SEA
18             69.41               W            ANTOFAGASTA, CHILE
19             71.34               W                ATACAMA, CHILE

In [112]:
latest_earthquakes['latitude']=latest_earthquakes.iloc[:,1]+ latest_earthquakes.iloc[:,2]
latest_earthquakes['longitude']=latest_earthquakes.iloc[:,3]+ latest_earthquakes.iloc[:,4]
latest_earthquakes['region name']=latest_earthquakes.iloc[:,5]
latest_earthquakes['date_time']=latest_earthquakes.iloc[:,0]
latest_earthquakes['date']=latest_earthquakes['date_time'].str.split(" ", n = 1, expand = True).iloc[:,0]
latest_earthquakes['time']=latest_earthquakes['date_time'].str.split(" ", n = 1, expand = True).iloc[:,1]
latest_earthquakes[['date','time','latitude','longitude','region name']]

,date,time,latitude,longitude,region name
,,,,,
0,2021-12-20,19:21:29.621min ago,40.48N,34.22E,CENTRAL TURKEY
1,2021-12-20,19:16:00.227min ago,28.61N,17.83W,"CANARY ISLANDS, SPAIN REGION"
2,2021-12-20,19:12:34.730min ago,24.20S,66.89W,"SALTA, ARGENTINA"
3,2021-12-20,19:00:14.743min ago,28.56N,17.84W,"CANARY ISLANDS, SPAIN REGION"
4,2021-12-20,18:53:23.049min ago,7.66S,122.55E,FLORES SEA
5,2021-12-20,18:49:26.253min ago,19.22N,155.43W,"ISLAND OF HAWAII, HAWAII"
6,2021-12-20,18:47:12.656min ago,46.12N,7.38E,SWITZERLAND
7,2021-12-20,18:41:54.01hr 01min ago,25.62N,91.18E,"MEGHALAYA, INDIA REGION"
8,2021-12-20,18:38:21.01hr 04min ago,23.80S,66.97W,"JUJUY, ARGENTINA"
9,2021-12-20,18:27:11.01hr 16min ago,21.33S,68.47W,"ANTOFAGASTA, CHILE"
10,2021-12-20,18:07:32.51hr 35min ago,38.68N,44.68E,TURKEY-IRAN BORDER REGION
11,2021-12-20,18:02:38.01hr 40min ago,39.38N,11.38W,NORTH ATLANTIC OCEAN
12,2021-12-20,17:51:35.01hr 51min ago,0.47N,126.26E,MOLUCCA SEA
13,2021-12-20,17:49:09.71hr 54min ago,40.49N,34.24E,CENTRAL TURKEY
14,2021-12-20,17:45:54.01hr 57min ago,0.05S,122.95E,"SULAWESI, INDONESIA"
15,2021-12-20,17:45:31.01hr 57min ago,24.36N,94.53E,MYANMAR-INDIA BORDER REGION
16,2021-12-20,17:44:52.01hr 58min ago,18.78N,64.36W,VIRGIN ISLANDS REGION
17,2021-12-20,17:38:23.02hr 04min ago,7.38S,121.83E,FLORES SEA
18,2021-12-20,17:37:55.02hr 05min ago,24.56S,69.41W,"ANTOFAGASTA, CHILE"
19,2021-12-20,17:33:00.02hr 10min ago,29.11S,71.34W,"ATACAMA, CHILE"

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [113]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com'

In [114]:
def number_tweets(username):
    try:
        import snscrape.modules.twitter as sntwitter
        tweets=sntwitter.TwitterSearchScraper('from:'+username).get_items()
        df_tweets=pd.DataFrame(tweets)[['date', 'id','content','username']]
        return df_tweets['id'].count()
    except:
        print("account names not found")

In [115]:
number_tweets('malvagf')

24

In [116]:
number_tweets('v')

account names not found

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
def number_followers(username):
    try:
        import snscrape.modules.twitter as sntwitter
        tweets=sntwitter.TwitterSearchScraper('from:'+'malvagf').get_items()
        for tweet in tweets:
            return tweet.user.followersCount
    except:
        print("account names not found")

In [ ]:
number_tweets('malvagf')

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [119]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [120]:
# your code here
response=requests.get(url)
html=response.content
parsed_html=BeautifulSoup(html,"html.parser")

In [121]:
Articles = [name.text.replace('\xa0','').replace('+','')   for name in parsed_html.find_all("bdi",dir="ltr") if not name.text.startswith('\n1') ]

In [122]:
Countries = [name.strong.text for name in parsed_html.find_all("a",{"class":"link-box"})]
Countries

['English',
 '日本語',
 'Русский',
 'Deutsch',
 'Español',
 'Français',
 '中文',
 'Italiano',
 'Português',
 'Polski']

In [123]:
df= pd.DataFrame({'Countries': Countries,'N_Articles': Articles})
df

   Countries N_Articles
0    English    6383000
1        日本語    1292000
2    Русский    1756000
3    Deutsch    2617000
4    Español    1717000
5   Français    2362000
6         中文    1231000
7   Italiano    1718000
8  Português    1074000
9     Polski    1490000

#### A list with the different kind of datasets available in data.gov.uk.

In [124]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [125]:
# your code here
response=requests.get(url)
html=response.content
parsed_html=BeautifulSoup(html,"html.parser")

In [126]:
[name.text for name in parsed_html.find_all("a",{"class":"govuk-link"}) if 'cookie' not in name.text and 'feedback' not in name.text]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [127]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [128]:
# your code here
languajes=pd.read_html(url)[1]
languajes.iloc[0:10]

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [129]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [151]:
def number_tweets(username):
    try:
        import snscrape.modules.twitter as sntwitter
        tweets=sntwitter.TwitterSearchScraper('from:'+username).get_items()
        df_tweets=pd.DataFrame(tweets)[['date', 'id','content','username']]
        return df_tweets['id'].count()
    except:
        print("account names not found")

In [152]:
number_tweets('Malvagf')

24

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [131]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [132]:
# your code here
response=requests.get(url)
html=response.content
parsed_html=BeautifulSoup(html,"html.parser")

In [133]:
movie_name=[name.a.text for name in parsed_html.find_all("td",{"class":"titleColumn"})]

In [134]:
initial_release=[name.span.text.replace('(','').replace(')','') for name in parsed_html.find_all("td",{"class":"titleColumn"})]

In [135]:
director_name=[name.a.get("title").split("(dir.)")[0] for name in parsed_html.find_all("td",{"class":"titleColumn"})]

In [136]:
stars=[name.strong.text for name in parsed_html.find_all("td",{"class":"ratingColumn imdbRating"})]

In [137]:
top_movies=pd.DataFrame()
top_movies

Empty DataFrame
Columns: []
Index: []

In [138]:
top_movies['movie_name']=movie_name
top_movies['initial_release']=initial_release
top_movies['director_name']=director_name
top_movies['stars']=stars
top_movies

                movie_name initial_release          director_name stars
0          Cadena perpetua            1994        Frank Darabont    9.2
1               El padrino            1972  Francis Ford Coppola    9.1
2     El padrino: Parte II            1974  Francis Ford Coppola    9.0
3      El caballero oscuro            2008     Christopher Nolan    9.0
4    12 hombres sin piedad            1957          Sidney Lumet    8.9
..                     ...             ...                    ...   ...
245    La batalla de Argel            1966      Gillo Pontecorvo    8.0
246  Las noches de Cabiria            1957      Federico Fellini    8.0
247  La princesa prometida            1987            Rob Reiner    8.0
248           Paris, Texas            1984           Wim Wenders    8.0
249     Tres colores: Rojo            1994  Krzysztof Kieslowski    8.0

[250 rows x 4 columns]

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [139]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [140]:
# your code here
top_movies_10=top_movies[:10]
top_movies_10

,movie_name,initial_release,director_name,stars
0,Cadena perpetua,1994,Frank Darabont,9.2
1,El padrino,1972,Francis Ford Coppola,9.1
2,El padrino: Parte II,1974,Francis Ford Coppola,9.0
3,El caballero oscuro,2008,Christopher Nolan,9.0
4,12 hombres sin piedad,1957,Sidney Lumet,8.9
5,La lista de Schindler,1993,Steven Spielberg,8.9
6,El señor de los anillos: El retorno del rey,2003,Peter Jackson,8.9
7,Spider-Man: No Way Home,2021,Jon Watts,8.9
8,Pulp Fiction,1994,Quentin Tarantino,8.8
9,"El bueno, el feo y el malo",1966,Sergio Leone,8.8

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [141]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:

In [142]:
# your code here
response=requests.get(url)
html=response.content
parsed_html=BeautifulSoup(html,"html.parser")

In [143]:
parsed_html

{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}

#### Find the book name, price and stock availability as a pandas dataframe.

In [144]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [145]:
# your code here
response=requests.get(url)
html=response.content
parsed_html=BeautifulSoup(html,"html.parser")

In [146]:
book_name=[name.h3.a.get("title") for name in parsed_html.find_all("li",{"class":"col-xs-6 col-sm-4 col-md-3 col-lg-3"})]

In [147]:
price=[name.text for name in parsed_html.find_all("p",{"class":"price_color"})]

In [148]:
stock_availability=[name.text.replace('\n\n    \n        ','').replace('\n    \n','') for name in parsed_html.find_all("p",{"class":"instock availability"})]

In [149]:
books=pd.DataFrame()

In [150]:
books["Book Name"]=book_name
books["Stock availability"]=stock_availability
books

                                            Book Name Stock availability
0                                A Light in the Attic           In stock
1                                  Tipping the Velvet           In stock
2                                          Soumission           In stock
3                                       Sharp Objects           In stock
4               Sapiens: A Brief History of Humankind           In stock
5                                     The Requiem Red           In stock
6   The Dirty Little Secrets of Getting Your Dream...           In stock
7   The Coming Woman: A Novel Based on the Life of...           In stock
8   The Boys in the Boat: Nine Americans and Their...           In stock
9                                     The Black Maria           In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)           In stock
11                              Shakespeare's Sonnets           In stock
12                                        Set Me Free           In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...           In stock
14                          Rip it Up and Start Again           In stock
15  Our Band Could Be Your Life: Scenes from the A...           In stock
16                                               Olio           In stock
17  Mesaerion: The Best Science Fiction Stories 18...           In stock
18                       Libertarianism for Beginners           In stock
19                            It's Only the Himalayas           In stock